@tailwind base;
@tailwind components;


@font-face {
  font-family: "bookmania";
  src: url("../design/BookmaniaRegular.otf");
}

@font-face {
  font-family: "akkurat-bold";
  src: url("../design/Akkurat-Bold.otf");
}

@font-face {
  font-family: "akkurat-regular";
  src: url("../design/Akkurat-Regular.ttf");
}

@font-face {
  font-family: "archivo-narrow";
  src: url("../design/Archivo-Narrow.ttf");
}

.custom-button {
  background: rgb(224 164 144);
  padding: 10px;
  color: white;
  border-radius: 8px;
  margin-left: 4px;
  font-weight: bold;
}

.a {
  color: rgb(107 33 168);
}

@layer base {
  body {
    @apply bg-yacht
  }
}

@layer components {
  .logo {
    color: rgb(255 255 255);
  }
  .headline {
    color: rgb(207 112 101);
  }
  .bodytext {
    color: rgb(194 221 228);
  }
  .darkblue {
    color: rgb(118 178 193)
  }
  .ordcard {
    @apply bg-yacht;
  }
}

@layer utilities {
  .ordcard {
    @apply bg-yacht;
  }
}

@tailwind utilities;

