@tailwind base;
@tailwind components;


@font-face {
  font-family: "bookmania";
  src: url("../design/BookmaniaRegular.otf");
}

@font-face {
  font-family: "akkurat-bold";
  src: url("../design/Akkurat-Bold.otf");
}

@font-face {
  font-family: "akkurat-regular";
  src: url("../design/Akkurat-Regular.ttf");
}

.custom-button {
  background: rgb(107 33 168);
  padding: 10px;
  color: white;
  border-radius: 8px;
  margin-left: 4px;
  font-weight: bold;
}

@tailwind utilities;